export HOST=
export PORT=
export DB_HOST=
export DB_PORT=
export DB_USER=
export DB_PASSWD=
#shared secret for jwt signature, use the same secret for user management and gateway component
export JWT_SECRET=
export SHH_ADDRESS=
#long-lasting access token for your home assistant instance
export SHH_TOKEN=
export MQTT_ERROR_INJECTION_ENGINE_REST_ADDRESS=
export USER_MANAGEMENT_ADDRESS=