
.modal-header {
    /*background-color: #cd5656;*/
    background: linear-gradient(90deg, #114b77, cornflowerblue);
    border-radius: 5px;
}

.modal-box {
    border: 1px solid cornflowerblue !important;
}
