.json-view {
    color: #f9f9f9;
    --json-property: #90CAF9;
    --json-index: #f9f9f9;
    --json-number: #f9f9f9;
    --json-string: #f9f9f9;
    --json-boolean: #dc155e;
    --json-null: #dc155e;
}
.json-view .json-view--property { color: #dc155e; }
.json-view .json-view--index { color: #dc155e; }
.json-view .json-view--number { color: #dc155e; }
.json-view .json-view--string { color: #dc155e; }
.json-view .json-view--boolean { color: #dc155e; }
.json-view .json-view--null { color: #dc155e; }
.json-view .json-view--input { color: #dc155e; }