body {
  margin: 0px;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

#root {
  height: 100vh;
  width: 100vw;
}

.app {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}